
<div class="panel panel-info">
  <div class="panel-heading">
  <h3 class="panel-title">
    <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to edit_task_path(task) do%>
    created <%=time_ago_in_words(task.created_at)%> ago </h3>
    <% end%>
    </div>
  <div class="panel-body">
    <%= task.content %>
  </div>
  <div class="panel-footer">
    <% if task.state == "doing" %>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "to_do"), method: :put, class: "btn btn-info btn-md btn-block" %>
      <%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "done"), method: :put,class: "btn btn-info btn-md btn-block"  %>
    </div>
    <% elsif task.state == "done"%>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: "btn btn-info btn-md btn-block"  %>
    </div>
    <% else %>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <%= link_to "<i class='fa fa-arrow-right'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: "btn btn-info btn-md btn-block"  %>
    </div>
    <% end%>
  </div>
</div>
<!--
<%= task.state %>
    <%= link_to 'Show', task %>
    <%= link_to 'Edit', edit_task_path(task) %>
    


    -->