<div class = "container">
	<div class = "row">
		<h1 class = "text-center">Teams</h1>
		<div class = "col-md-4">
			<div class = "panel panel-info">
				<div class = "panel-heading">
					<h3 class = "text-left">All</h3>
				</div>
				<div class = "panel-body">
					<table class = "table">
						<thead>
							<tr>
								<td>Name</td><td>Action</td>
							</tr>
						</thead>
						<tbody>
							<% @all_teams.each do |team|%>
								<tr>
									<td><%= team.name %></td>
									<td><%= raw(team_actions_for(team, current_user)) %></td>
								</tr>
							<%end%>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class = "col-md-4">
			<div class = "panel panel-info">
				<div class = "panel-heading">
					<h3 class = "text-left">Owner</h3>
				</div>
				<div class = "panel-body">
					<table class = "table">
						<thead>
							<tr>
								<td>Name</td><td>Action</td>
							</tr>
						</thead>
						<tbody>
							<% @owned_teams.each do |team|%>
								<tr>
									<td><%= team.name %></td>
									<td><%= raw(team_actions_for(team, current_user)) %></td>
								</tr>
							<%end%>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class = "col-md-4">
			<div class = "panel panel-info">
				<div class = "panel-heading">
					<h3 class = "text-left">Member</h3>
				</div>
				<div class = "panel-body">
					<table class = "table">
						<thead>
							<tr>
								<td>Name</td><td>Action</td>
							</tr>
						</thead>
						<tbody>
							<% @member_of_teams.each do |team|%>
								<tr>
									<td><%= team.name %></td>
									<td><%= raw(team_actions_for(team, current_user)) %></td>
								</tr>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class = "row">
		<h1 class = "text-center">Projects</h1>
		<div class = "col-md-4">
			<div class = "panel panel-info">
				<div class = "panel-heading">
					<h3 class = "text-left">All</h3>
				</div>
				<div class = "panel-body">
					<table class = "table">
						<thead>
							<tr>
								<td>Name</td><td>Action</td>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class = "col-md-4">
			<div class = "panel panel-info">
				<div class = "panel-heading">
					<h3 class = "text-left">Member</h3>
				</div>
				<div class = "panel-body">
					<table class = "table">
						<thead>
							<tr>
								<td>Name</td><td>Action</td>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class = "col-md-4">
			<div class = "panel panel-info">
				<div class = "panel-heading">
					<h3 class = "text-left">Owner</h3>
				</div>
				<div class = "panel-body">
					<table class = "table">
						<thead>
							<tr>
								<td>Name</td><td>Action</td>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>